<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>team</key>
	<array>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>name</key>
			<string>娜美</string>
			<key>level</key>
			<string>10</string>
			<key>portrait</key>
			<string>person/poster_char_namei.png</string>
			<key>icon</key>
			<string>members/head_char_namei.png</string>
			<key>reputation</key>
			<string>1033</string>
			<key>status</key>
			<dict>
				<key>health</key>
				<string>265</string>
				<key>attack</key>
				<string>154</string>
				<key>defense</key>
				<string>72</string>
				<key>will</key>
				<string>201</string>
			</dict>
			<key>trinket</key>
			<dict>
				<key>icon</key>
				<string>equipposter/poster_jewelry_yinjiezhi.png</string>
				<key>title</key>
				<string>银戒指</string>
			</dict>
			<key>spell</key>
			<array>
				<dict>
					<key>icon</key>
					<string>skillposter/poster_skill_baoyu.png</string>
					<key>title</key>
					<string>暴雨</string>
				</dict>
			</array>
			<key>info</key>
			<array>
				<string>草榴船长</string>
				<string>草榴双妹</string>
				<string>气象操控</string>
				<string>花痴王子</string>
				<string>路痴救星</string>
				<string>天候棒</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>2</string>
			<key>name</key>
			<string>卡库</string>
			<key>level</key>
			<string>4</string>
			<key>portrait</key>
			<string>person/poster_char_kaku.png</string>
			<key>icon</key>
			<string>members/head_char_kaku.png</string>
			<key>reputation</key>
			<string>842</string>
			<key>status</key>
			<dict>
				<key>health</key>
				<string>184</string>
				<key>attack</key>
				<string>153</string>
				<key>defense</key>
				<string>59</string>
				<key>will</key>
				<string>142</string>
			</dict>
			<key>weapon</key>
			<dict>
				<key>icon</key>
				<string>equipposter/poster_weapon_haizeixiaodao.png</string>
				<key>title</key>
				<string>海贼小刀</string>
			</dict>
			<key>spell</key>
			<array>
				<dict>
					<key>icon</key>
					<string>skillposter/poster_skill_haijunliushi.png</string>
					<key>title</key>
					<string>海军六式</string>
				</dict>
			</array>
			<key>info</key>
			<array>
				<string>果实抉择</string>
				<string>明争暗斗</string>
				<string>斩击对决</string>
				<string>长鼻子</string>
				<string>牛牛果实</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
