<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>RCTabBar</string>
	<key>editorClassName</key>
	<string>RCTabBar</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>name</key>
			<string>RCTabBar</string>
			<key>displayName</key>
			<string>RCTabBar</string>
			<key>type</key>
			<string>Separator</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Background Frame</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>backgroundFrame</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>400</integer>
				<integer>200</integer>
				<integer>0</integer>
			</array>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>backgroundSize</string>
			<key>displayName</key>
			<string>Background Size</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Button Direction</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>direction</string>
			<key>extra</key>
			<string>Top|0|Left|1|Right|2|Bottom|3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>XCWidgetPanel</string>
			<key>displayName</key>
			<string>Tab Button</string>
			<key>type</key>
			<string>Separator</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>100</integer>
				<integer>50</integer>
				<integer>0</integer>
			</array>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>tabButtonSize</string>
			<key>displayName</key>
			<string>Size</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>displayName</key>
			<string>Button Normal Frame</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>tabButtonNormalFrame</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>displayName</key>
			<string>Button Select Frame</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>tabButtonSelectedFrame</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Tab Count</string>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>tabButtonCount</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>5</integer>
			<key>displayName</key>
			<string>First Button Spacing</string>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>firstTabButtonSpace</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>5</integer>
			<key>displayName</key>
			<string>Button Spacing</string>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>tabButtonSpace</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>0</integer>
			<key>displayName</key>
			<string>Button To Bar Spacing</string>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>buttonToBarSpace</string>
		</dict>
	</array>
</dict>
</plist>
