<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_leiA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,288},{120,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,133}}</string>
                <key>sourceSize</key>
                <string>{120,133}</string>
            </dict>
            <key>B_leiA04.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,665},{126,126}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>B_leiA06.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,879},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>B_leiA08.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,879},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>B_leiA10.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,288},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>B_leiA12.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,427},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>B_leiA14.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,896},{126,84}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{126,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Lan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,785},{51,69}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,69}}</string>
                <key>sourceSize</key>
                <string>{55,73}</string>
            </dict>
            <key>Lan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,954},{36,65}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{36,65}}</string>
                <key>sourceSize</key>
                <string>{54,73}</string>
            </dict>
            <key>Lan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,710},{53,69}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,69}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>Lan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,466},{50,67}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,67}}</string>
                <key>sourceSize</key>
                <string>{54,73}</string>
            </dict>
            <key>Lan_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,4},{60,69}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,69}}</string>
                <key>sourceSize</key>
                <string>{66,73}</string>
            </dict>
            <key>Lan_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,287},{61,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>Lan_O.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,361},{60,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,68}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>Lan_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,636},{55,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,68}}</string>
                <key>sourceSize</key>
                <string>{59,72}</string>
            </dict>
            <key>Lan_U.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,561},{59,69}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,69}}</string>
                <key>sourceSize</key>
                <string>{63,73}</string>
            </dict>
            <key>Lan_round02.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,4},{366,69}}</string>
                <key>offset</key>
                <string>{-305,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{366,69}}</string>
                <key>sourceSize</key>
                <string>{976,105}</string>
            </dict>
            <key>Text_faguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,167},{256,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,87},{256,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Text_faguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,253},{252,80}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,87},{252,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Text_faguang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,79},{256,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{256,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>b_bg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,490},{10,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,480}}</string>
                <key>sourceSize</key>
                <string>{10,480}</string>
            </dict>
            <key>b_bg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{10,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,480}}</string>
                <key>sourceSize</key>
                <string>{10,480}</string>
            </dict>
            <key>b_bgr02.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,234},{93,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,30}}</string>
                <key>sourceSize</key>
                <string>{93,30}</string>
            </dict>
            <key>b_bloodbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,976},{128,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,41}}</string>
                <key>sourceSize</key>
                <string>{128,41}</string>
            </dict>
            <key>b_liehen.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,954},{45,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{45,52}}</string>
                <key>sourceSize</key>
                <string>{49,56}</string>
            </dict>
            <key>b_liehen07.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,468},{121,147}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{121,147}}</string>
                <key>sourceSize</key>
                <string>{135,179}</string>
            </dict>
            <key>b_liehen08.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,288},{127,169}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{127,169}}</string>
                <key>sourceSize</key>
                <string>{135,179}</string>
            </dict>
            <key>b_qa.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,954},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>b_qb.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,954},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>b_winEXP01.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,131},{103,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,12}}</string>
                <key>sourceSize</key>
                <string>{103,12}</string>
            </dict>
            <key>b_winEXP02.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,113},{103,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,12}}</string>
                <key>sourceSize</key>
                <string>{103,12}</string>
            </dict>
            <key>b_winbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,633},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>battle04_guangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,466},{193,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,193}}</string>
                <key>sourceSize</key>
                <string>{193,193}</string>
            </dict>
            <key>battle4_lantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,4},{412,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,278}}</string>
                <key>sourceSize</key>
                <string>{412,278}</string>
            </dict>
            <key>buff_lightlan.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,79},{193,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,202}}</string>
                <key>sourceSize</key>
                <string>{193,202}</string>
            </dict>
            <key>buff_lightlan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,628},{367,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,320}}</string>
                <key>sourceSize</key>
                <string>{367,320}</string>
            </dict>
            <key>fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,339},{300,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,121}}</string>
                <key>sourceSize</key>
                <string>{300,121}</string>
            </dict>
            <key>image88.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,149},{93,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,79}}</string>
                <key>sourceSize</key>
                <string>{93,79}</string>
            </dict>
            <key>leftP.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,288},{117,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{117,135}</string>
            </dict>
            <key>r3_Bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,435},{128,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,192}}</string>
                <key>sourceSize</key>
                <string>{128,192}</string>
            </dict>
            <key>r3_spark07.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,860},{50,98}}</string>
                <key>offset</key>
                <string>{3,-170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,358},{50,98}}</string>
                <key>sourceSize</key>
                <string>{88,474}</string>
            </dict>
            <key>r3_spark09.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,270},{78,352}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,90},{78,352}}</string>
                <key>sourceSize</key>
                <string>{88,474}</string>
            </dict>
            <key>r3_spark10.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,605},{70,384}}</string>
                <key>offset</key>
                <string>{-8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{70,384}}</string>
                <key>sourceSize</key>
                <string>{88,474}</string>
            </dict>
            <key>r3_spark12.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,270},{16,192}}</string>
                <key>offset</key>
                <string>{1,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{16,192}}</string>
                <key>sourceSize</key>
                <string>{88,474}</string>
            </dict>
            <key>r3_win_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,463},{199,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,136}}</string>
                <key>sourceSize</key>
                <string>{199,136}</string>
            </dict>
            <key>r3_win_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,782},{136,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,108}}</string>
                <key>sourceSize</key>
                <string>{136,108}</string>
            </dict>
            <key>rightP.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,665},{144,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,111}}</string>
                <key>sourceSize</key>
                <string>{144,111}</string>
            </dict>
            <key>win_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,4},{105,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,103}}</string>
                <key>sourceSize</key>
                <string>{105,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91032fc3f80d657177c453ae3273cbf6$</string>
            <key>textureFileName</key>
            <string>battle1.png</string>
        </dict>
    </dict>
</plist>
