<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_qichang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,704},{218,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,221}}</string>
                <key>sourceSize</key>
                <string>{218,221}</string>
            </dict>
            <key>B_zhanjiA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,4},{128,82}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>B_zhanjiA02.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{888,180},{108,106}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>B_zhanjiA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,856},{84,120}}</string>
                <key>offset</key>
                <string>{-22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>B_zhanjiA04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,398},{92,124}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>B_zhanjiB02.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,309},{100,18}}</string>
                <key>offset</key>
                <string>{-68,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,89},{100,18}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_zhanjiB03.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,676},{178,22}}</string>
                <key>offset</key>
                <string>{-29,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,87},{178,22}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_zhanjiB04.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,988},{238,26}}</string>
                <key>offset</key>
                <string>{3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,84},{238,26}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_zhanjiB05.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,398},{172,26}}</string>
                <key>offset</key>
                <string>{28,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,84},{172,26}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_zhanjiB06.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,128},{116,24}}</string>
                <key>offset</key>
                <string>{57,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,84},{116,24}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>B_zhanjiB07.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,270},{58,18}}</string>
                <key>offset</key>
                <string>{86,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,89},{58,18}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Baomu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,104},{426,92}}</string>
                <key>offset</key>
                <string>{-10,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,262},{426,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Baomu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,190},{426,18}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,255},{426,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Baomu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,435},{158,84}}</string>
                <key>offset</key>
                <string>{-9,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,294},{158,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>L02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,309},{149,120}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{149,120}}</string>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>L04.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,931},{105,84}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,33},{105,84}}</string>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>L06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,952},{75,62}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,41},{75,62}}</string>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>L07.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,214},{61,50}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,46},{61,50}}</string>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>L09.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,333},{33,26}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,57},{33,26}}</string>
                <key>sourceSize</key>
                <string>{201,162}</string>
            </dict>
            <key>Lan_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,214},{359,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,89}}</string>
                <key>sourceSize</key>
                <string>{359,89}</string>
            </dict>
            <key>Lan_fight_faguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{446,180}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,160},{446,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Round_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,4},{426,94}}</string>
                <key>offset</key>
                <string>{-10,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,263},{426,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_bgb02.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,952},{93,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,30}}</string>
                <key>sourceSize</key>
                <string>{93,30}</string>
            </dict>
            <key>b_blooda01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,128},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>b_blooda02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,158},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>b_bloodc.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,158},{115,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,16}}</string>
                <key>sourceSize</key>
                <string>{115,16}</string>
            </dict>
            <key>b_flashadd.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,528},{230,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,129}}</string>
                <key>sourceSize</key>
                <string>{230,129}</string>
            </dict>
            <key>b_losebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,430},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>battel_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,309},{88,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,74}}</string>
                <key>sourceSize</key>
                <string>{88,74}</string>
            </dict>
            <key>battel_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,638},{134,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,84}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>battel_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,593},{165,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,39}}</string>
                <key>sourceSize</key>
                <string>{165,39}</string>
            </dict>
            <key>battel_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,528},{248,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{248,59}}</string>
                <key>sourceSize</key>
                <string>{256,59}</string>
            </dict>
            <key>battel_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,92},{126,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,30}}</string>
                <key>sourceSize</key>
                <string>{126,30}</string>
            </dict>
            <key>battle4_huo (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{856,725},{103,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,125}}</string>
                <key>sourceSize</key>
                <string>{103,125}</string>
            </dict>
            <key>battle4_huo (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{747,850},{103,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,125}}</string>
                <key>sourceSize</key>
                <string>{103,125}</string>
            </dict>
            <key>battle4_huo (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{638,856},{103,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,125}}</string>
                <key>sourceSize</key>
                <string>{103,125}</string>
            </dict>
            <key>battle4_huo (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{729,719},{103,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,125}}</string>
                <key>sourceSize</key>
                <string>{103,125}</string>
            </dict>
            <key>battle4_huo (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{620,725},{103,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,125}}</string>
                <key>sourceSize</key>
                <string>{103,125}</string>
            </dict>
            <key>battle4_huo (26).png</key>
            <dict>
                <key>frame</key>
                <string>{{529,856},{103,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,125}}</string>
                <key>sourceSize</key>
                <string>{103,125}</string>
            </dict>
            <key>battle4_huo (30).png</key>
            <dict>
                <key>frame</key>
                <string>{{511,725},{103,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,125}}</string>
                <key>sourceSize</key>
                <string>{103,125}</string>
            </dict>
            <key>battle4_huo (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{867,594},{103,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,125}}</string>
                <key>sourceSize</key>
                <string>{103,125}</string>
            </dict>
            <key>buff_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,333},{46,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,53}}</string>
                <key>sourceSize</key>
                <string>{46,53}</string>
            </dict>
            <key>buff_lighthong.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,728},{193,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,202}}</string>
                <key>sourceSize</key>
                <string>{193,202}</string>
            </dict>
            <key>buff_lighthong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,202},{367,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,320}}</string>
                <key>sourceSize</key>
                <string>{367,320}</string>
            </dict>
            <key>buff_starzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,594},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>image90.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,378},{135,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,175}}</string>
                <key>sourceSize</key>
                <string>{135,175}</string>
            </dict>
            <key>r3_spark01.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,294},{50,98}}</string>
                <key>offset</key>
                <string>{3,-170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,358},{50,98}}</string>
                <key>sourceSize</key>
                <string>{88,474}</string>
            </dict>
            <key>r3_spark03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,594},{78,352}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,90},{78,352}}</string>
                <key>sourceSize</key>
                <string>{88,474}</string>
            </dict>
            <key>r3_spark04.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,202},{70,384}}</string>
                <key>offset</key>
                <string>{-8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{70,384}}</string>
                <key>sourceSize</key>
                <string>{88,474}</string>
            </dict>
            <key>r3_spark06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,180},{16,192}}</string>
                <key>offset</key>
                <string>{1,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{16,192}}</string>
                <key>sourceSize</key>
                <string>{88,474}</string>
            </dict>
            <key>vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,931},{83,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>win_kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,292},{106,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,80}}</string>
                <key>sourceSize</key>
                <string>{106,80}</string>
            </dict>
            <key>win_kuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,592},{84,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,121}}</string>
                <key>sourceSize</key>
                <string>{84,121}</string>
            </dict>
            <key>win_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,559},{135,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,29}}</string>
                <key>sourceSize</key>
                <string>{135,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8a8a33447dd9336e1e61a50b2cbd0d1$</string>
            <key>textureFileName</key>
            <string>battle3.png</string>
        </dict>
    </dict>
</plist>
