<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_BigLottoBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,212},{160,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,337}}</string>
                <key>sourceSize</key>
                <string>{160,337}</string>
            </dict>
            <key>u_BigLottoBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,470},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>u_BigLottoBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,555},{75,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,51}}</string>
                <key>sourceSize</key>
                <string>{75,51}</string>
            </dict>
            <key>u_BigLottoBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,4},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>u_BigLottoBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,94},{302,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,16}}</string>
                <key>sourceSize</key>
                <string>{302,16}</string>
            </dict>
            <key>u_BigLottoButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,416},{153,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,48}}</string>
                <key>sourceSize</key>
                <string>{153,48}</string>
            </dict>
            <key>u_BigLottoNum1.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,175},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>u_BigLottoNum10.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,431},{63,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,53}}</string>
                <key>sourceSize</key>
                <string>{63,53}</string>
            </dict>
            <key>u_BigLottoNum11.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,116},{60,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,53}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>u_BigLottoNum12.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,416},{63,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,53}}</string>
                <key>sourceSize</key>
                <string>{63,53}</string>
            </dict>
            <key>u_BigLottoNum2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,645},{63,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,52}}</string>
                <key>sourceSize</key>
                <string>{63,52}</string>
            </dict>
            <key>u_BigLottoNum3.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,612},{63,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,52}}</string>
                <key>sourceSize</key>
                <string>{63,52}</string>
            </dict>
            <key>u_BigLottoNum4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,591},{63,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,52}}</string>
                <key>sourceSize</key>
                <string>{63,52}</string>
            </dict>
            <key>u_BigLottoNum5.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,533},{63,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,52}}</string>
                <key>sourceSize</key>
                <string>{63,52}</string>
            </dict>
            <key>u_BigLottoNum6.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,475},{63,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,52}}</string>
                <key>sourceSize</key>
                <string>{63,52}</string>
            </dict>
            <key>u_BigLottoNum7.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,372},{64,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,53}}</string>
                <key>sourceSize</key>
                <string>{64,53}</string>
            </dict>
            <key>u_BigLottoNum8.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,153},{64,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,53}}</string>
                <key>sourceSize</key>
                <string>{64,53}</string>
            </dict>
            <key>u_BigLottoNum9.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,94},{64,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,53}}</string>
                <key>sourceSize</key>
                <string>{64,53}</string>
            </dict>
            <key>u_BigLottoNumBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,111},{88,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,87}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>u_BigLottoNumBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,572},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>u_BigLottoNumBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,490},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>u_BigLottoQiaoBa.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,116},{235,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,250}}</string>
                <key>sourceSize</key>
                <string>{235,250}</string>
            </dict>
            <key>u_BigLottoTex01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{380,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,84}}</string>
                <key>sourceSize</key>
                <string>{380,84}</string>
            </dict>
            <key>u_BigLottoTex02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,372},{223,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,38}}</string>
                <key>sourceSize</key>
                <string>{223,38}</string>
            </dict>
            <key>u_icoqyLotto.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,555},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BigLotto.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee57328a17e869e40c277e5be5fbed6c$</string>
            <key>textureFileName</key>
            <string>BigLotto.png</string>
        </dict>
    </dict>
</plist>
