<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_duanzaoBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{160,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,326}}</string>
                <key>sourceSize</key>
                <string>{160,326}</string>
            </dict>
            <key>u_duanzaoBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,441},{222,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,45}}</string>
                <key>sourceSize</key>
                <string>{222,45}</string>
            </dict>
            <key>u_duanzaoBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,441},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>u_duanzaoButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,197},{199,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,77}}</string>
                <key>sourceSize</key>
                <string>{199,77}</string>
            </dict>
            <key>u_duanzaoHelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,4},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>u_duanzaoKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,336},{138,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,129}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>u_duanzaoKuangBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,4},{203,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,187}}</string>
                <key>sourceSize</key>
                <string>{203,187}</string>
            </dict>
            <key>u_duanzaoLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,336},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>u_icoqyduanzao.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,197},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duanzao.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f7bed7f8622c4af2e5a439514b2e2ca$</string>
            <key>textureFileName</key>
            <string>duanzao.png</string>
        </dict>
    </dict>
</plist>
