<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_HullRenovationBG00.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,342},{292,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,370}}</string>
                <key>sourceSize</key>
                <string>{292,370}</string>
            </dict>
            <key>u_HullRenovationBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,718},{256,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,75}}</string>
                <key>sourceSize</key>
                <string>{256,75}</string>
            </dict>
            <key>u_HullRenovationBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,96},{124,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,123}}</string>
                <key>sourceSize</key>
                <string>{124,123}</string>
            </dict>
            <key>u_HullRenovationBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,4},{164,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,86}}</string>
                <key>sourceSize</key>
                <string>{164,86}</string>
            </dict>
            <key>u_HullRenovationBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,240},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>u_HullRenovationBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,315},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>u_HullRenovationBG06.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,325},{59,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,73}}</string>
                <key>sourceSize</key>
                <string>{59,73}</string>
            </dict>
            <key>u_HullRenovationBG07.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{320,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,332}}</string>
                <key>sourceSize</key>
                <string>{320,332}</string>
            </dict>
            <key>u_HullRenovationTex01.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,204},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>u_HullRenovationTex02.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,132},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{20,30}</string>
            </dict>
            <key>u_HullRenovationTex03.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,168},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>u_HullRenovationTex04.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,96},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>u_HullRenovationTex05.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,168},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>u_HullRenovationTex06.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,132},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>u_HullRenovationTex07.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,96},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{20,30}</string>
            </dict>
            <key>u_icoqyHR.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,225},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HullRenovation.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf71568a37aeb1419cc31651f38e46d7$</string>
            <key>textureFileName</key>
            <string>HullRenovation.png</string>
        </dict>
    </dict>
</plist>
