<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_icoqy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,855},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_jhjButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,162},{362,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,309}}</string>
                <key>sourceSize</key>
                <string>{362,309}</string>
            </dict>
            <key>u_jhjButtonAni.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,855},{139,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,152}}</string>
                <key>sourceSize</key>
                <string>{139,152}</string>
            </dict>
            <key>u_jhjani01.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,758},{160,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,91}}</string>
                <key>sourceSize</key>
                <string>{160,91}</string>
            </dict>
            <key>u_jhjani02.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,162},{112,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,108}}</string>
                <key>sourceSize</key>
                <string>{112,108}</string>
            </dict>
            <key>u_jhjani03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,758},{95,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,104}}</string>
                <key>sourceSize</key>
                <string>{95,104}</string>
            </dict>
            <key>u_jhjani04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,881},{96,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,105}}</string>
                <key>sourceSize</key>
                <string>{96,105}</string>
            </dict>
            <key>u_jhjani05.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,386},{96,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,105}}</string>
                <key>sourceSize</key>
                <string>{96,105}</string>
            </dict>
            <key>u_jhjani06.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,276},{97,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,104}}</string>
                <key>sourceSize</key>
                <string>{97,104}</string>
            </dict>
            <key>u_jhjani07.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,276},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>u_jhjbg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,477},{334,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,275}}</string>
                <key>sourceSize</key>
                <string>{334,275}</string>
            </dict>
            <key>u_jhjbg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,497},{160,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,378}}</string>
                <key>sourceSize</key>
                <string>{160,378}</string>
            </dict>
            <key>u_jhjtitle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{478,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,152}}</string>
                <key>sourceSize</key>
                <string>{478,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hxf.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a72d7d3160a532245f845b85c05b7d4c$</string>
            <key>textureFileName</key>
            <string>hxf.png</string>
        </dict>
    </dict>
</plist>
