<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_TeachersDaybg00.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{474,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,83}}</string>
                <key>sourceSize</key>
                <string>{474,83}</string>
            </dict>
            <key>u_TeachersDaybg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,93},{185,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,380}}</string>
                <key>sourceSize</key>
                <string>{185,380}</string>
            </dict>
            <key>u_TeachersDaybg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,183},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>u_TeachersDaybg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,93},{213,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,79}}</string>
                <key>sourceSize</key>
                <string>{213,79}</string>
            </dict>
            <key>u_TeachersDaybg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,183},{149,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,308}}</string>
                <key>sourceSize</key>
                <string>{149,308}</string>
            </dict>
            <key>u_TeachersDaybg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,479},{157,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,5}}</string>
                <key>sourceSize</key>
                <string>{157,5}</string>
            </dict>
            <key>u_icoqyjiaoshijie.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,417},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_icoqyjsjliwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,327},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_icoqyjsjxiaofei.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,93},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jsj.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6751799deea20583baa7b8e44add6571$</string>
            <key>textureFileName</key>
            <string>jsj.png</string>
        </dict>
    </dict>
</plist>
