<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LianMengNoBattlePic.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,268},{240,256}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{240,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,4},{240,258}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{240,258}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>st_fang.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,530},{240,242}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{240,242}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>u_LianMengBR02.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,825},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>u_LianMengBanner05.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,959},{100,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,35}}</string>
                <key>sourceSize</key>
                <string>{100,35}</string>
            </dict>
            <key>u_LianMengBattleResaultBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,825},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>u_LianMengBattleResaultBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,959},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>u_LianMengBattleResaultBG06.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,825},{129,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{129,125}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>u_LianMengBattleResaultIcobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,825},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>u_LianMengBattleResaultTex04.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,956},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,26}}</string>
                <key>sourceSize</key>
                <string>{62,26}</string>
            </dict>
            <key>u_LianMengHPbg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{644,815}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,815}}</string>
                <key>sourceSize</key>
                <string>{644,815}</string>
            </dict>
            <key>u_LianMengRBIcePic.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,530},{88,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,97}}</string>
                <key>sourceSize</key>
                <string>{88,97}</string>
            </dict>
            <key>u_LianMengRBThunderPic.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,825},{93,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,105}}</string>
                <key>sourceSize</key>
                <string>{93,105}</string>
            </dict>
            <key>u_LianMengTotemButton01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,825},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>u_u_LianMengTTwz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,959},{75,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,46}}</string>
                <key>sourceSize</key>
                <string>{75,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LianMeng3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d2636333ee48c762de52b458ef5880b$</string>
            <key>textureFileName</key>
            <string>LianMeng3.png</string>
        </dict>
    </dict>
</plist>
