<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LianMengBattlePic.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{252,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{252,248}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>jd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{256,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>u_LianMengHPbg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,251},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>u_LianMengJG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,245},{256,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,237}}</string>
                <key>sourceSize</key>
                <string>{256,237}</string>
            </dict>
            <key>u_LianMengMemButten.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,484},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>u_u_LianMengbg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,251},{160,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,165}}</string>
                <key>sourceSize</key>
                <string>{160,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LianMeng1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c15cb3151c5c00bac941e2cce62ada4a$</string>
            <key>textureFileName</key>
            <string>LianMeng1.png</string>
        </dict>
    </dict>
</plist>
