<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cangku.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,692},{244,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{244,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>st_gong.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,769},{238,238}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{238,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>st_nei.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,769},{238,238}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{238,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tt_kong.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,769},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{250,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tt_wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,4},{256,254}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{256,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>u_LianMengBanner03.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,954},{96,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,31}}</string>
                <key>sourceSize</key>
                <string>{96,31}</string>
            </dict>
            <key>u_LianMengBanner04.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,954},{96,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,31}}</string>
                <key>sourceSize</key>
                <string>{96,31}</string>
            </dict>
            <key>u_LianMengHPbg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,954},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{44,37}</string>
            </dict>
            <key>u_LianMengPHbg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,531},{159,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,155}}</string>
                <key>sourceSize</key>
                <string>{159,155}</string>
            </dict>
            <key>u_LianMengRBDustPic.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,112},{91,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,94}}</string>
                <key>sourceSize</key>
                <string>{91,94}</string>
            </dict>
            <key>u_LianMengRBWindPic.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,4},{96,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,102}}</string>
                <key>sourceSize</key>
                <string>{96,102}</string>
            </dict>
            <key>u_lmbattlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{640,615}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,615}}</string>
                <key>sourceSize</key>
                <string>{640,615}</string>
            </dict>
            <key>u_u_LianMengTTbg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,264},{135,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,261}}</string>
                <key>sourceSize</key>
                <string>{135,261}</string>
            </dict>
            <key>u_u_LianMengbanner02.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,212},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,41}</string>
            </dict>
            <key>u_u_LianMengbg00.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,264},{160,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,350}}</string>
                <key>sourceSize</key>
                <string>{160,350}</string>
            </dict>
            <key>u_u_LianMengbg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,758},{546,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{546,5}}</string>
                <key>sourceSize</key>
                <string>{548,5}</string>
            </dict>
            <key>u_u_LianMengconten01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,625},{610,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,127}}</string>
                <key>sourceSize</key>
                <string>{610,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LianMeng4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a730a98a618d32f1956305545f98acd$</string>
            <key>textureFileName</key>
            <string>LianMeng4.png</string>
        </dict>
    </dict>
</plist>
