<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>st_xue.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,231},{236,238}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{236,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>u_LMbanner03.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,603},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>u_LianMengBR01.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,475},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>u_LianMengBR03.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,508},{67,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,49}}</string>
                <key>sourceSize</key>
                <string>{67,49}</string>
            </dict>
            <key>u_LianMengBR04.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,157},{69,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>u_LianMengBanner02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,450},{96,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,31}}</string>
                <key>sourceSize</key>
                <string>{96,31}</string>
            </dict>
            <key>u_LianMengBattleResaultBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,576},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>u_LianMengBattleResaultBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,349},{119,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,95}}</string>
                <key>sourceSize</key>
                <string>{119,95}</string>
            </dict>
            <key>u_LianMengBattleResaultBG07.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,650},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>u_LianMengBattleResaultTex01.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,475},{77,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,27}}</string>
                <key>sourceSize</key>
                <string>{77,27}</string>
            </dict>
            <key>u_LianMengBattleResaultTex02.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,576},{42,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,25}}</string>
                <key>sourceSize</key>
                <string>{42,25}</string>
            </dict>
            <key>u_LianMengBattleResaultTex03.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,604},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{40,22}</string>
            </dict>
            <key>u_LianMengBattleResaultTex05.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,563},{58,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,34}}</string>
                <key>sourceSize</key>
                <string>{58,34}</string>
            </dict>
            <key>u_LianMengBattleResaultTex06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,567},{85,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,34}}</string>
                <key>sourceSize</key>
                <string>{85,34}</string>
            </dict>
            <key>u_LianMengBattleResaultTex07.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,389},{113,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,34}}</string>
                <key>sourceSize</key>
                <string>{113,34}</string>
            </dict>
            <key>u_LianMengBattleResaultTex08.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,527},{87,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,34}}</string>
                <key>sourceSize</key>
                <string>{87,34}</string>
            </dict>
            <key>u_LianMengBattleResaultTex09.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,349},{113,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,34}}</string>
                <key>sourceSize</key>
                <string>{113,34}</string>
            </dict>
            <key>u_LianMengBattleResaultTex10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,487},{87,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,34}}</string>
                <key>sourceSize</key>
                <string>{87,34}</string>
            </dict>
            <key>u_LianMengBattleResaultTex11.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,632},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>u_LianMengBattleResaultTex12.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,604},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>u_LianMengBattleResaultTexbg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,632},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>u_LianMengBattleResaultTexbg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,605},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>u_LianMengBattleResaultTexbg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,613},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>u_LianMengBattleResaultTexbg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,660},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>u_LianMengBattleResaultTexbg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,650},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>u_LianMengBattleResaultTexbg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,576},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>u_LianMengBattleResaultTexbg07.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,483},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>u_LianMengBattleResaultTexbg08.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,642},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>u_LianMengBattleResaultTexbg09.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,212},{30,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,10}}</string>
                <key>sourceSize</key>
                <string>{30,10}</string>
            </dict>
            <key>u_LianMengBattleResaultTexbg10.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,568},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>u_LianMengBattleResaultTexbg11.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,531},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>u_LianMengBattleResaultTexbg13.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,97},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>u_LianMengBattleResaultVS.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,607},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>u_LianMengGDText.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,97},{158,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,52}}</string>
                <key>sourceSize</key>
                <string>{158,52}</string>
            </dict>
            <key>u_LianMengHPbg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,475},{68,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,50}}</string>
                <key>sourceSize</key>
                <string>{68,50}</string>
            </dict>
            <key>u_LianMengJG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,157},{248,186}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,29},{248,186}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>u_LianMengPHText.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,155},{158,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,51}}</string>
                <key>sourceSize</key>
                <string>{158,51}</string>
            </dict>
            <key>u_LianMengPHTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{323,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,147}}</string>
                <key>sourceSize</key>
                <string>{323,147}</string>
            </dict>
            <key>u_LianMengPHbg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,4},{161,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,48}}</string>
                <key>sourceSize</key>
                <string>{161,48}</string>
            </dict>
            <key>u_LianMengPHbg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,429},{103,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,48}}</string>
                <key>sourceSize</key>
                <string>{103,48}</string>
            </dict>
            <key>u_LianMengPHbg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,58},{160,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,33}}</string>
                <key>sourceSize</key>
                <string>{160,33}</string>
            </dict>
            <key>u_LianMengRBFirePic.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,483},{92,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,98}}</string>
                <key>sourceSize</key>
                <string>{92,98}</string>
            </dict>
            <key>u_u_LianMengTTbg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,531},{60,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,67}}</string>
                <key>sourceSize</key>
                <string>{60,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LianMeng2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf00a16ffd03b21cb910161056e33d9a$</string>
            <key>textureFileName</key>
            <string>LianMeng2.png</string>
        </dict>
    </dict>
</plist>
