<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_LuckyPrizeBG00.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{390,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,73}}</string>
                <key>sourceSize</key>
                <string>{390,73}</string>
            </dict>
            <key>u_LuckyPrizeBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,92},{185,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,324}}</string>
                <key>sourceSize</key>
                <string>{185,324}</string>
            </dict>
            <key>u_LuckyPrizeBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,118},{234,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,222}}</string>
                <key>sourceSize</key>
                <string>{234,222}</string>
            </dict>
            <key>u_LuckyPrizeBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,422},{137,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,36}}</string>
                <key>sourceSize</key>
                <string>{137,36}</string>
            </dict>
            <key>u_LuckyPrizeBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,464},{71,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,29}}</string>
                <key>sourceSize</key>
                <string>{71,29}</string>
            </dict>
            <key>u_LuckyPrizeBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,346},{69,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,25}}</string>
                <key>sourceSize</key>
                <string>{69,25}</string>
            </dict>
            <key>u_LuckyPrizeBG06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,83},{302,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,29}}</string>
                <key>sourceSize</key>
                <string>{302,29}</string>
            </dict>
            <key>u_LuckyPrizeBG07.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,422},{162,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,62}}</string>
                <key>sourceSize</key>
                <string>{162,62}</string>
            </dict>
            <key>u_LuckyPrizeBG08.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,422},{160,52}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{160,52}}</string>
                <key>sourceSize</key>
                <string>{162,62}</string>
            </dict>
            <key>u_LuckyPrizeTex01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,377},{135,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,24}}</string>
                <key>sourceSize</key>
                <string>{135,24}</string>
            </dict>
            <key>u_LuckyPrizeTex02.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,346},{95,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,22}}</string>
                <key>sourceSize</key>
                <string>{95,22}</string>
            </dict>
            <key>u_LuckyPrizeTexNum1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,480},{63,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,26}}</string>
                <key>sourceSize</key>
                <string>{63,26}</string>
            </dict>
            <key>u_LuckyPrizeTexNum2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,480},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,26}}</string>
                <key>sourceSize</key>
                <string>{66,26}</string>
            </dict>
            <key>u_LuckyPrizeTexNum3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,480},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,26}}</string>
                <key>sourceSize</key>
                <string>{66,26}</string>
            </dict>
            <key>u_LuckyPrizeTexNum4.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,63},{102,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,23}}</string>
                <key>sourceSize</key>
                <string>{102,23}</string>
            </dict>
            <key>u_LuckyPrizeTexNum5.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,34},{105,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,23}}</string>
                <key>sourceSize</key>
                <string>{105,23}</string>
            </dict>
            <key>u_LuckyPrizeTexNum6.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,4},{106,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,24}}</string>
                <key>sourceSize</key>
                <string>{106,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LuckyPrize.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa2493c6b5586ec7b47de7281aa4c640$</string>
            <key>textureFileName</key>
            <string>LuckyPrize.png</string>
        </dict>
    </dict>
</plist>
