<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_++.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,688},{105,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>u_+.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,704},{105,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>u_+1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,686},{97,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,101}}</string>
                <key>sourceSize</key>
                <string>{97,101}</string>
            </dict>
            <key>u_+2.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,542},{40,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{40,42}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_--.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,704},{105,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>u_-.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,4},{105,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>u_EmBattlebg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,231},{97,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,20}}</string>
                <key>sourceSize</key>
                <string>{97,20}</string>
            </dict>
            <key>u_EncButtonB01.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,466},{171,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,57}}</string>
                <key>sourceSize</key>
                <string>{171,57}</string>
            </dict>
            <key>u_EncButtonB03.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,287},{171,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,57}}</string>
                <key>sourceSize</key>
                <string>{171,57}</string>
            </dict>
            <key>u_EncHelpButton01.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,490},{142,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,54}}</string>
                <key>sourceSize</key>
                <string>{142,54}</string>
            </dict>
            <key>u_EncSystemHelpPic04.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,928},{97,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,87}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>u_EncSystemHelpPic06.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,227},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{74,82}</string>
            </dict>
            <key>u_EncSystemHelpPic07.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,466},{69,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,77}}</string>
                <key>sourceSize</key>
                <string>{69,77}</string>
            </dict>
            <key>u_EncSystembg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,812},{34,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,12}}</string>
                <key>sourceSize</key>
                <string>{34,12}</string>
            </dict>
            <key>u_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,4},{369,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,480}}</string>
                <key>sourceSize</key>
                <string>{369,480}</string>
            </dict>
            <key>u_banner01.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,114},{38,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,33}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>u_bannerEXP.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,160},{232,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,26}}</string>
                <key>sourceSize</key>
                <string>{232,26}</string>
            </dict>
            <key>u_bottoml.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,363},{41,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,100}}</string>
                <key>sourceSize</key>
                <string>{41,100}</string>
            </dict>
            <key>u_bottomr.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,363},{41,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,100}}</string>
                <key>sourceSize</key>
                <string>{41,100}</string>
            </dict>
            <key>u_buttenA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,175},{109,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{109,46}}</string>
                <key>sourceSize</key>
                <string>{113,50}</string>
            </dict>
            <key>u_buttenA04.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,192},{121,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,58}}</string>
                <key>sourceSize</key>
                <string>{123,62}</string>
            </dict>
            <key>u_buttenB01.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,211},{142,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,70}}</string>
                <key>sourceSize</key>
                <string>{142,70}</string>
            </dict>
            <key>u_buttenE01.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,76},{102,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,43}}</string>
                <key>sourceSize</key>
                <string>{102,43}</string>
            </dict>
            <key>u_buttenF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,483},{67,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,58}}</string>
                <key>sourceSize</key>
                <string>{67,58}</string>
            </dict>
            <key>u_buttenH01.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,953},{94,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,60}}</string>
                <key>sourceSize</key>
                <string>{94,60}</string>
            </dict>
            <key>u_buttenI01.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,951},{89,59}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{89,59}}</string>
                <key>sourceSize</key>
                <string>{93,65}</string>
            </dict>
            <key>u_buttenJ02.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,607},{162,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,72}}</string>
                <key>sourceSize</key>
                <string>{162,72}</string>
            </dict>
            <key>u_buttenJ01.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,529},{162,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,72}}</string>
                <key>sourceSize</key>
                <string>{162,72}</string>
            </dict>
            <key>u_buttenselecta.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,466},{33,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{33,32}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>u_caishendaobg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,4},{496,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,66}}</string>
                <key>sourceSize</key>
                <string>{496,66}</string>
            </dict>
            <key>u_dzbutten04.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,211},{142,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,70}}</string>
                <key>sourceSize</key>
                <string>{142,70}</string>
            </dict>
            <key>u_frameF.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,953},{229,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,61}}</string>
                <key>sourceSize</key>
                <string>{229,61}</string>
            </dict>
            <key>u_frameF2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,549},{170,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,131}}</string>
                <key>sourceSize</key>
                <string>{170,131}</string>
            </dict>
            <key>u_framebutten03.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,257},{91,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,100}}</string>
                <key>sourceSize</key>
                <string>{91,100}</string>
            </dict>
            <key>u_framebutten04.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,920},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>u_icobg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,125},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_icoframe03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,833},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>u_jhEXP.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,590},{70,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,43}}</string>
                <key>sourceSize</key>
                <string>{70,43}</string>
            </dict>
            <key>u_jhbg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,363},{320,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,97}}</string>
                <key>sourceSize</key>
                <string>{320,97}</string>
            </dict>
            <key>u_jhbutten.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,76},{88,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,93}}</string>
                <key>sourceSize</key>
                <string>{88,93}</string>
            </dict>
            <key>u_jhbuttenparticle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,550},{136,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,132}}</string>
                <key>sourceSize</key>
                <string>{136,132}</string>
            </dict>
            <key>u_jqbanner03.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,211},{142,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,70}}</string>
                <key>sourceSize</key>
                <string>{142,70}</string>
            </dict>
            <key>u_jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,260},{113,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,82}}</string>
                <key>sourceSize</key>
                <string>{113,82}</string>
            </dict>
            <key>u_koujueEXP.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,552},{47,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,275}}</string>
                <key>sourceSize</key>
                <string>{47,275}</string>
            </dict>
            <key>u_koujueEXPb.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{27,542}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,542}}</string>
                <key>sourceSize</key>
                <string>{27,542}</string>
            </dict>
            <key>u_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,550},{149,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,148}}</string>
                <key>sourceSize</key>
                <string>{149,148}</string>
            </dict>
            <key>u_mbutten02.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,793},{248,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,129}}</string>
                <key>sourceSize</key>
                <string>{248,129}</string>
            </dict>
            <key>u_mbutten03.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,814},{278,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,133}}</string>
                <key>sourceSize</key>
                <string>{278,133}</string>
            </dict>
            <key>u_mbutten06.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,76},{176,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,78}}</string>
                <key>sourceSize</key>
                <string>{176,78}</string>
            </dict>
            <key>u_mheadbg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,789},{83,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,125}}</string>
                <key>sourceSize</key>
                <string>{83,125}</string>
            </dict>
            <key>u_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,490},{320,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,53}}</string>
                <key>sourceSize</key>
                <string>{320,53}</string>
            </dict>
            <key>u_newplaybrokenbook.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,549},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>u_pfang.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,529},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>u_pfangb.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,168},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>u_pfangp.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,951},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>u_pgong.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,504},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>u_pgongb.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,76},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>u_pgongp.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,114},{49,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,37}}</string>
                <key>sourceSize</key>
                <string>{49,37}</string>
            </dict>
            <key>u_qh010.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,397},{114,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,80}}</string>
                <key>sourceSize</key>
                <string>{114,80}</string>
            </dict>
            <key>u_qh011.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,490},{103,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,54}}</string>
                <key>sourceSize</key>
                <string>{103,54}</string>
            </dict>
            <key>u_qh09.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,315},{71,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>u_scbanner06.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,414},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>u_scbanner07.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,363},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>u_scbanner08.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,160},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>u_teambgEXP.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,928},{200,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,17}}</string>
                <key>sourceSize</key>
                <string>{200,17}</string>
            </dict>
            <key>u_xzfang.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,683},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>u_xzgong.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,686},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>u_zm05.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,550},{64,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,256}}</string>
                <key>sourceSize</key>
                <string>{64,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScene1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36caf166ad64f4f217d6bf79eff00679$</string>
            <key>textureFileName</key>
            <string>mainScene1.png</string>
        </dict>
    </dict>
</plist>
