<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_CareerBG00.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,849},{619,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,173}}</string>
                <key>sourceSize</key>
                <string>{619,173}</string>
            </dict>
            <key>u_CareerLongButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1028},{607,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{607,89}}</string>
                <key>sourceSize</key>
                <string>{607,89}</string>
            </dict>
            <key>u_EncSystemBox04.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1993},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>u_EncSystemHelpPic01.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1831},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>u_EncSystemHelpPic02.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1796},{83,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>u_EncSystemHelpPic03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1993},{78,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,45}}</string>
                <key>sourceSize</key>
                <string>{78,45}</string>
            </dict>
            <key>u_EncSystemHelpPic05.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1796},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>u_LianMengNum01.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1796},{54,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,74}}</string>
                <key>sourceSize</key>
                <string>{54,74}</string>
            </dict>
            <key>u_LianMengNum02.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,627},{59,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>sourceSize</key>
                <string>{59,76}</string>
            </dict>
            <key>u_LianMengNum03.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,424},{57,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,79}}</string>
                <key>sourceSize</key>
                <string>{57,79}</string>
            </dict>
            <key>u_banner02.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1652},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>u_banner03.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1771},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>u_bannerLV.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2020},{45,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,24}}</string>
                <key>sourceSize</key>
                <string>{45,24}</string>
            </dict>
            <key>u_bannerb.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,209},{640,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,136}}</string>
                <key>sourceSize</key>
                <string>{640,136}</string>
            </dict>
            <key>u_buttenK01.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,827},{292,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,75}}</string>
                <key>sourceSize</key>
                <string>{292,75}</string>
            </dict>
            <key>u_buttenselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,351},{627,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,160}}</string>
                <key>sourceSize</key>
                <string>{627,160}</string>
            </dict>
            <key>u_contenA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,683},{625,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{625,160}}</string>
                <key>sourceSize</key>
                <string>{627,160}</string>
            </dict>
            <key>u_contenA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,517},{625,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{625,160}}</string>
                <key>sourceSize</key>
                <string>{627,160}</string>
            </dict>
            <key>u_frameA.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,4},{346,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,414}}</string>
                <key>sourceSize</key>
                <string>{346,414}</string>
            </dict>
            <key>u_frameC01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1690},{515,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,100}}</string>
                <key>sourceSize</key>
                <string>{515,100}</string>
            </dict>
            <key>u_frameC03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1561},{515,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,123}}</string>
                <key>sourceSize</key>
                <string>{515,123}</string>
            </dict>
            <key>u_frameD.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1247},{121,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,127}}</string>
                <key>sourceSize</key>
                <string>{121,127}</string>
            </dict>
            <key>u_frameH.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1652},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>u_framebutten01.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1754},{93,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,99}}</string>
                <key>sourceSize</key>
                <string>{93,99}</string>
            </dict>
            <key>u_framebutten02.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1881},{92,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,101}</string>
            </dict>
            <key>u_framebutten05.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1881},{91,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,95}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>u_framebutten06.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1519},{101,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,97}}</string>
                <key>sourceSize</key>
                <string>{101,97}</string>
            </dict>
            <key>u_framebutten07.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1881},{91,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,106}}</string>
                <key>sourceSize</key>
                <string>{91,106}</string>
            </dict>
            <key>u_helpereffect01.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1889},{77,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,72}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>u_helpereffect02.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1389},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>u_icobg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1233},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{150,150}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>u_icohelper.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1953},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>u_icoqy04.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1741},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_icoqy06.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1651},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_icoqylufei.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1561},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_jianglicontent.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1415},{606,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,140}}</string>
                <key>sourceSize</key>
                <string>{606,140}</string>
            </dict>
            <key>u_ld02.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1728},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>u_light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1796},{93,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,87}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>u_light02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1796},{82,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>u_light03.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,927},{106,78}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{106,78}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>u_light04.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1415},{114,88}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{114,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>u_light05.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1536},{141,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,110}}</string>
                <key>sourceSize</key>
                <string>{141,110}</string>
            </dict>
            <key>u_light06.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1113},{154,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,114}}</string>
                <key>sourceSize</key>
                <string>{154,114}</string>
            </dict>
            <key>u_ljconten.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1269},{606,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,140}}</string>
                <key>sourceSize</key>
                <string>{606,140}</string>
            </dict>
            <key>u_ljcontenb.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1123},{606,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,140}}</string>
                <key>sourceSize</key>
                <string>{606,140}</string>
            </dict>
            <key>u_mbutten08.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1615},{135,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,140}}</string>
                <key>sourceSize</key>
                <string>{135,140}</string>
            </dict>
            <key>u_mhead08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,4},{12,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,200}}</string>
                <key>sourceSize</key>
                <string>{12,200}</string>
            </dict>
            <key>u_outlinelight.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1113},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>u_packageconten.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{640,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,199}}</string>
                <key>sourceSize</key>
                <string>{640,199}</string>
            </dict>
            <key>u_pyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1808},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>u_pyib.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,837},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,84}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>u_pyip.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1988},{49,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,38}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>u_qh00.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1622},{97,126}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{97,126}}</string>
                <key>sourceSize</key>
                <string>{117,146}</string>
            </dict>
            <key>u_qh01.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1380},{116,133}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{116,133}}</string>
                <key>sourceSize</key>
                <string>{128,141}</string>
            </dict>
            <key>u_qh02.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1011},{105,112}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{105,112}}</string>
                <key>sourceSize</key>
                <string>{115,126}</string>
            </dict>
            <key>u_qh04.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1755},{93,120}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{93,120}}</string>
                <key>sourceSize</key>
                <string>{111,128}</string>
            </dict>
            <key>u_qh05.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1881},{54,102}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,102}}</string>
                <key>sourceSize</key>
                <string>{56,110}</string>
            </dict>
            <key>u_qiyubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,424},{320,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,94}}</string>
                <key>sourceSize</key>
                <string>{320,94}</string>
            </dict>
            <key>u_scyj.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1294},{119,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,115}}</string>
                <key>sourceSize</key>
                <string>{119,115}</string>
            </dict>
            <key>u_stonebg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,524},{316,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,297}}</string>
                <key>sourceSize</key>
                <string>{316,297}</string>
            </dict>
            <key>u_texbg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1229},{108,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,59}}</string>
                <key>sourceSize</key>
                <string>{108,59}</string>
            </dict>
            <key>u_topupTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1055},{270,52}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,92},{270,52}}</string>
                <key>sourceSize</key>
                <string>{470,230}</string>
            </dict>
            <key>u_topupbg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,908},{278,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,141}}</string>
                <key>sourceSize</key>
                <string>{278,141}</string>
            </dict>
            <key>u_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1696},{38,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,26}}</string>
                <key>sourceSize</key>
                <string>{38,26}</string>
            </dict>
            <key>u_vip01.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1921},{54,26}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>u_vip02.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1967},{56,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>u_vip03.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1889},{56,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>u_vip04.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2014},{56,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>u_vip05.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,805},{56,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>u_vip06.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,773},{56,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>u_vip07.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,741},{56,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>u_vip08.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,709},{56,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>u_vip09.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,509},{56,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>u_vip10.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1982},{68,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,26}}</string>
                <key>sourceSize</key>
                <string>{70,26}</string>
            </dict>
            <key>u_vip11.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2014},{66,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,26}}</string>
                <key>sourceSize</key>
                <string>{70,26}</string>
            </dict>
            <key>u_vip12.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1988},{68,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,26}}</string>
                <key>sourceSize</key>
                <string>{70,26}</string>
            </dict>
            <key>u_vip13.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1796},{68,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,26}}</string>
                <key>sourceSize</key>
                <string>{70,26}</string>
            </dict>
            <key>u_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1831},{55,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,41}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>u_xzbg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1129},{109,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,94}}</string>
                <key>sourceSize</key>
                <string>{109,94}</string>
            </dict>
            <key>u_xzyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1509},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>u_zm01.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1920},{73,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,64}}</string>
                <key>sourceSize</key>
                <string>{73,64}</string>
            </dict>
            <key>u_zm02.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,541},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1989},{42,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,54}}</string>
                <key>sourceSize</key>
                <string>{42,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScene3.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b48883476e6c885f8cdc564937e5c4bf$</string>
            <key>textureFileName</key>
            <string>mainScene3.png</string>
        </dict>
    </dict>
</plist>
