<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_EmBattlebg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1318},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>u_EncSystemBox01.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1753},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>u_EncSystemBox01B.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1704},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>u_EncSystemBox02.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1753},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>u_EncSystemBox02B.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1704},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>u_EncSystemBox03.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1616},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>u_EncSystemBox03B.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1496},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>u_EncSystemBox04B.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1397},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>u_EncSystembg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1332},{161,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,48}}</string>
                <key>sourceSize</key>
                <string>{161,48}</string>
            </dict>
            <key>u_EncSystembg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2012},{160,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,33}}</string>
                <key>sourceSize</key>
                <string>{160,33}</string>
            </dict>
            <key>u_EncSystembg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1422},{104,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,23}}</string>
                <key>sourceSize</key>
                <string>{104,23}</string>
            </dict>
            <key>u_EncSystembg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1545},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,44}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>u_backgroundB.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,3},{320,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,329}}</string>
                <key>sourceSize</key>
                <string>{320,329}</string>
            </dict>
            <key>u_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1695},{640,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,143}}</string>
                <key>sourceSize</key>
                <string>{640,143}</string>
            </dict>
            <key>u_banner000.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1385},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>u_banner04.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,607},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>u_bannerbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,1572},{220,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,20}}</string>
                <key>sourceSize</key>
                <string>{220,20}</string>
            </dict>
            <key>u_buttenA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1157},{109,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{109,46}}</string>
                <key>sourceSize</key>
                <string>{113,50}</string>
            </dict>
            <key>u_buttenB03.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1618},{142,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,70}}</string>
                <key>sourceSize</key>
                <string>{142,70}</string>
            </dict>
            <key>u_buttenC01.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1948},{243,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,87}}</string>
                <key>sourceSize</key>
                <string>{243,87}</string>
            </dict>
            <key>u_buttenC02.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1523},{187,51}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{187,51}}</string>
                <key>sourceSize</key>
                <string>{243,87}</string>
            </dict>
            <key>u_buttenD01.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1009},{243,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,87}}</string>
                <key>sourceSize</key>
                <string>{243,87}</string>
            </dict>
            <key>u_buttenD02.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1467},{187,51}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{187,51}}</string>
                <key>sourceSize</key>
                <string>{243,87}</string>
            </dict>
            <key>u_buttenF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1450},{67,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,58}}</string>
                <key>sourceSize</key>
                <string>{67,58}</string>
            </dict>
            <key>u_buttenFr03.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1616},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>u_buttenG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1385},{108,61}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,61}}</string>
                <key>sourceSize</key>
                <string>{108,65}</string>
            </dict>
            <key>u_buttenH03.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1616},{94,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,60}}</string>
                <key>sourceSize</key>
                <string>{94,60}</string>
            </dict>
            <key>u_buttenI03.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1042},{89,59}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{89,59}}</string>
                <key>sourceSize</key>
                <string>{93,65}</string>
            </dict>
            <key>u_buttenJ03.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1390},{162,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,72}}</string>
                <key>sourceSize</key>
                <string>{162,72}</string>
            </dict>
            <key>u_buttenselectb.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,489},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>u_caishendaobg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,337},{74,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,121}}</string>
                <key>sourceSize</key>
                <string>{74,121}</string>
            </dict>
            <key>u_canwu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1927},{163,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,44}}</string>
                <key>sourceSize</key>
                <string>{163,44}</string>
            </dict>
            <key>u_canwubg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1098},{321,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,314}}</string>
                <key>sourceSize</key>
                <string>{321,314}</string>
            </dict>
            <key>u_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,489},{402,604}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,604}}</string>
                <key>sourceSize</key>
                <string>{402,604}</string>
            </dict>
            <key>u_cc01.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,534},{209,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,256}}</string>
                <key>sourceSize</key>
                <string>{209,256}</string>
            </dict>
            <key>u_cc02.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1618},{82,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,72}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
            <key>u_cut01.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1938},{490,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,5}}</string>
                <key>sourceSize</key>
                <string>{490,5}</string>
            </dict>
            <key>u_cut2.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,1597},{215,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,14}}</string>
                <key>sourceSize</key>
                <string>{215,14}</string>
            </dict>
            <key>u_czbackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1417},{190,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,421}}</string>
                <key>sourceSize</key>
                <string>{190,421}</string>
            </dict>
            <key>u_dzye02.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1948},{243,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,87}}</string>
                <key>sourceSize</key>
                <string>{243,87}</string>
            </dict>
            <key>u_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2012},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>u_flbg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1009},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>u_frameB.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1044},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>u_frameC.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1199},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>u_frameC02.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1843},{515,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,64}}</string>
                <key>sourceSize</key>
                <string>{515,64}</string>
            </dict>
            <key>u_frameC04.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1912},{515,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,21}}</string>
                <key>sourceSize</key>
                <string>{515,21}</string>
            </dict>
            <key>u_frameE.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1843},{205,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,179}}</string>
                <key>sourceSize</key>
                <string>{205,179}</string>
            </dict>
            <key>u_frameG.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1313},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>u_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,795},{129,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,244}}</string>
                <key>sourceSize</key>
                <string>{129,244}</string>
            </dict>
            <key>u_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,3},{132,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,244}}</string>
                <key>sourceSize</key>
                <string>{132,244}</string>
            </dict>
            <key>u_head3.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1101},{129,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,238}}</string>
                <key>sourceSize</key>
                <string>{129,238}</string>
            </dict>
            <key>u_icobg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1467},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_icobg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1044},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>u_icobg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1208},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>u_icobg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,252},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>u_icobg07.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1467},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_icoempty.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1362},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{100,100}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>u_icoframe01.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1208},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_jhbutten02.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1106},{88,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,93}}</string>
                <key>sourceSize</key>
                <string>{88,93}</string>
            </dict>
            <key>u_jhbuttenparticle.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1594},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>u_jhcontent02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{540,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,481}}</string>
                <key>sourceSize</key>
                <string>{540,481}</string>
            </dict>
            <key>u_jqye02.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2012},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>u_jqye03.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2012},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>u_jqye04.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2012},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>u_koujueLVbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1513},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>u_koujuebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1417},{160,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,273}}</string>
                <key>sourceSize</key>
                <string>{160,273}</string>
            </dict>
            <key>u_ld01.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,337},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>u_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1451},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_lw01.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,795},{256,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,209}}</string>
                <key>sourceSize</key>
                <string>{256,209}</string>
            </dict>
            <key>u_mbutten04.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1843},{183,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,79}}</string>
                <key>sourceSize</key>
                <string>{183,79}</string>
            </dict>
            <key>u_mbutten05.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1948},{215,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,59}}</string>
                <key>sourceSize</key>
                <string>{215,59}</string>
            </dict>
            <key>u_mbutten07.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,961},{158,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,76}}</string>
                <key>sourceSize</key>
                <string>{158,76}</string>
            </dict>
            <key>u_mbuttenbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,795},{160,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,161}}</string>
                <key>sourceSize</key>
                <string>{160,161}</string>
            </dict>
            <key>u_mhead02.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2012},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>u_mhead03.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2012},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>u_mhead04.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2012},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>u_mhead05.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2012},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>u_outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1843},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_outlineshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,651},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>u_qh06.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,534},{203,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,256}}</string>
                <key>sourceSize</key>
                <string>{203,256}</string>
            </dict>
            <key>u_qiyu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1560},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,44}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>u_safe01.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,489},{51,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,480}}</string>
                <key>sourceSize</key>
                <string>{51,480}</string>
            </dict>
            <key>u_scbanner03.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1571},{106,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,40}}</string>
                <key>sourceSize</key>
                <string>{106,40}</string>
            </dict>
            <key>u_scbanner04.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1616},{107,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,41}}</string>
                <key>sourceSize</key>
                <string>{107,41}</string>
            </dict>
            <key>u_scbanner05.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1344},{110,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,41}}</string>
                <key>sourceSize</key>
                <string>{110,41}</string>
            </dict>
            <key>u_scbanner09.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1446},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>u_scsui.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,537},{32,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,65}}</string>
                <key>sourceSize</key>
                <string>{32,65}</string>
            </dict>
            <key>u_scying.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,537},{32,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,65}}</string>
                <key>sourceSize</key>
                <string>{32,65}</string>
            </dict>
            <key>u_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,463},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>u_stonebg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1948},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>u_teambg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,489},{402,604}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,604}}</string>
                <key>sourceSize</key>
                <string>{402,604}</string>
            </dict>
            <key>u_teambg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,2027},{270,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,18}}</string>
                <key>sourceSize</key>
                <string>{270,18}</string>
            </dict>
            <key>u_teambg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1450},{21,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,64}}</string>
                <key>sourceSize</key>
                <string>{21,64}</string>
            </dict>
            <key>u_texbg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1579},{203,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,34}}</string>
                <key>sourceSize</key>
                <string>{203,34}</string>
            </dict>
            <key>u_texbg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1665},{101,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,34}}</string>
                <key>sourceSize</key>
                <string>{101,34}</string>
            </dict>
            <key>u_texbg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1976},{204,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,66}}</string>
                <key>sourceSize</key>
                <string>{204,66}</string>
            </dict>
            <key>u_texbg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1540},{105,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{105,26}}</string>
                <key>sourceSize</key>
                <string>{107,28}</string>
            </dict>
            <key>u_zm03.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1101},{63,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,256}}</string>
                <key>sourceSize</key>
                <string>{63,256}</string>
            </dict>
            <key>u_zm04.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1101},{57,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,256}}</string>
                <key>sourceSize</key>
                <string>{57,256}</string>
            </dict>
            <key>u_zm06.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,390},{56,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,256}}</string>
                <key>sourceSize</key>
                <string>{56,256}</string>
            </dict>
            <key>u_zm07.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1098},{66,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,256}}</string>
                <key>sourceSize</key>
                <string>{66,256}</string>
            </dict>
            <key>u_zm08.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,390},{47,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,142}}</string>
                <key>sourceSize</key>
                <string>{47,142}</string>
            </dict>
            <key>u_zm09.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,974},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainScene4.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ab47dd58b7ea084022221a33c60ee6a$</string>
            <key>textureFileName</key>
            <string>mainScene4.png</string>
        </dict>
    </dict>
</plist>
