<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_RebateCouponBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,518},{369,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,336}}</string>
                <key>sourceSize</key>
                <string>{369,336}</string>
            </dict>
            <key>u_RebateCouponBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{267,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,508}}</string>
                <key>sourceSize</key>
                <string>{267,508}</string>
            </dict>
            <key>u_RebateCouponBG03.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,100},{310,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,261}}</string>
                <key>sourceSize</key>
                <string>{310,261}</string>
            </dict>
            <key>u_RebateCouponBG04.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,860},{234,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,98}}</string>
                <key>sourceSize</key>
                <string>{234,98}</string>
            </dict>
            <key>u_RebateCouponBG05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,860},{234,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,98}}</string>
                <key>sourceSize</key>
                <string>{234,98}</string>
            </dict>
            <key>u_RebateCouponBG06.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,4},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>u_RebateCouponButton01.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,4},{136,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{136,64}</string>
            </dict>
            <key>u_RebateCouponButton02.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,4},{381,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,90}}</string>
                <key>sourceSize</key>
                <string>{381,90}</string>
            </dict>
            <key>u_RebateCouponShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,964},{157,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,44}}</string>
                <key>sourceSize</key>
                <string>{157,44}</string>
            </dict>
            <key>u_RebateCouponTex01.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,175},{207,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,68}}</string>
                <key>sourceSize</key>
                <string>{207,68}</string>
            </dict>
            <key>u_RebateCouponTex02.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,100},{232,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,69}}</string>
                <key>sourceSize</key>
                <string>{232,69}</string>
            </dict>
            <key>u_RebateCouponTex03.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,367},{258,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,85}}</string>
                <key>sourceSize</key>
                <string>{258,85}</string>
            </dict>
            <key>u_icoqyRebateCoupon.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,4},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RebateCoupon.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24df01b919db8874d7c7682f10f69aaf$</string>
            <key>textureFileName</key>
            <string>RebateCoupon.png</string>
        </dict>
    </dict>
</plist>
