<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_hadd01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{286,282}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{286,282}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>s_hadd02.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,128},{180,183}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,183}}</string>
                <key>sourceSize</key>
                <string>{182,185}</string>
            </dict>
            <key>s_hadd03.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,3},{191,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,120}}</string>
                <key>sourceSize</key>
                <string>{191,120}</string>
            </dict>
            <key>s_hadd04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,290},{217,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,218}}</string>
                <key>sourceSize</key>
                <string>{217,218}</string>
            </dict>
            <key>s_hadd06.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,3},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_hadd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b799cd5db85a2615a2a2fafb56a0eb03$</string>
            <key>textureFileName</key>
            <string>s_hadd.png</string>
        </dict>
    </dict>
</plist>
