<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_hqmExplosion.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,212}}</string>
                <key>sourceSize</key>
                <string>{249,212}</string>
            </dict>
            <key>s_hqmMainPic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{136,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,252}}</string>
                <key>sourceSize</key>
                <string>{136,252}</string>
            </dict>
            <key>s_hqmSpeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_hq.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5954bfe6d79f39233302f80c263d34a1$</string>
            <key>textureFileName</key>
            <string>s_hq.png</string>
        </dict>
    </dict>
</plist>
