<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_hxms_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,125},{55,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,100}}</string>
                <key>sourceSize</key>
                <string>{55,100}</string>
            </dict>
            <key>s_hxms_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{99,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,105}}</string>
                <key>sourceSize</key>
                <string>{99,105}</string>
            </dict>
            <key>s_hxms_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_hxms.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0dd4c84e722e867c431e9c197041e95c$</string>
            <key>textureFileName</key>
            <string>s_hxms.png</string>
        </dict>
    </dict>
</plist>
