<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qnguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,286},{170,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,172}}</string>
                <key>sourceSize</key>
                <string>{170,172}</string>
            </dict>
            <key>qnguanghuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,286},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>qnlianhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{282,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,286}}</string>
                <key>sourceSize</key>
                <string>{282,286}</string>
            </dict>
            <key>qnshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{228,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,466}}</string>
                <key>sourceSize</key>
                <string>{228,466}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_qnhl.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77f95e18b4405c93582c990e8b78a3b2$</string>
            <key>textureFileName</key>
            <string>s_qnhl.png</string>
        </dict>
    </dict>
</plist>
