<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_xpqmExplosion.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{216,250}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{216,250}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>s_xpqmMainPic.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,250},{80,176}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,61},{80,176}}</string>
                <key>sourceSize</key>
                <string>{80,252}</string>
            </dict>
            <key>s_xpqmSpeed.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_xpq.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd9c3f6b5c2b5a4e4bbe9e546f8ba64b$</string>
            <key>textureFileName</key>
            <string>s_xpq.png</string>
        </dict>
    </dict>
</plist>
