<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_xzzh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,78},{148,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,95}}</string>
                <key>sourceSize</key>
                <string>{148,95}</string>
            </dict>
            <key>s_xzzh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,73}}</string>
                <key>sourceSize</key>
                <string>{236,73}</string>
            </dict>
            <key>s_xzzh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{101,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,107}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_xzzh.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe20177a800dfbb20caa6b4ac9689367$</string>
            <key>textureFileName</key>
            <string>s_xzzh.png</string>
        </dict>
    </dict>
</plist>
