<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_UltimateTrialBG01.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,288},{160,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,339}}</string>
                <key>sourceSize</key>
                <string>{160,339}</string>
            </dict>
            <key>u_UltimateTrialBG02.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,4},{320,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,278}}</string>
                <key>sourceSize</key>
                <string>{320,278}</string>
            </dict>
            <key>u_UltimateTrialContentA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{552,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,155}}</string>
                <key>sourceSize</key>
                <string>{552,155}</string>
            </dict>
            <key>u_UltimateTrialContentB01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,642},{552,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,153}}</string>
                <key>sourceSize</key>
                <string>{552,153}</string>
            </dict>
            <key>u_UltimateTrialContentB02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,483},{552,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,153}}</string>
                <key>sourceSize</key>
                <string>{552,153}</string>
            </dict>
            <key>u_UltimateTrialContentC01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,324},{552,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,153}}</string>
                <key>sourceSize</key>
                <string>{552,153}</string>
            </dict>
            <key>u_UltimateTrialContentC02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,165},{552,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,153}}</string>
                <key>sourceSize</key>
                <string>{552,153}</string>
            </dict>
            <key>u_icoqyUT.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,4},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UltimateTrial.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63840a1f5c5d79ebc93238a3b4312b07$</string>
            <key>textureFileName</key>
            <string>UltimateTrial.png</string>
        </dict>
    </dict>
</plist>
