<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_WeChatbg00.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,94},{22,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,35}}</string>
                <key>sourceSize</key>
                <string>{22,35}</string>
            </dict>
            <key>u_WeChatbg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,503},{185,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,388}}</string>
                <key>sourceSize</key>
                <string>{185,388}</string>
            </dict>
            <key>u_WeChatbg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{411,493}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,493}}</string>
                <key>sourceSize</key>
                <string>{411,493}</string>
            </dict>
            <key>u_WeChatbg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,564},{197,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,197}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>u_WeChatbg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,503},{286,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,55}}</string>
                <key>sourceSize</key>
                <string>{286,55}</string>
            </dict>
            <key>u_WeChatbg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,767},{251,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,54}}</string>
                <key>sourceSize</key>
                <string>{251,54}</string>
            </dict>
            <key>u_WeChatbg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,897},{269,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,79}}</string>
                <key>sourceSize</key>
                <string>{269,79}</string>
            </dict>
            <key>u_icoqyWeChat.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,4},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wx.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80a48b3b78f86b05cc291a4b196b3d22$</string>
            <key>textureFileName</key>
            <string>wx.png</string>
        </dict>
    </dict>
</plist>
