<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_icoqyyueka.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_yuekabg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{135,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,219}}</string>
                <key>sourceSize</key>
                <string>{135,219}</string>
            </dict>
            <key>u_yuekabg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,352},{52,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,105}}</string>
                <key>sourceSize</key>
                <string>{52,105}</string>
            </dict>
            <key>u_yuekabg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{26,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,219}}</string>
                <key>sourceSize</key>
                <string>{26,219}</string>
            </dict>
            <key>u_yuekabg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,224},{80,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,130}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
            <key>u_yuekabg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,327},{97,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,94}}</string>
                <key>sourceSize</key>
                <string>{97,94}</string>
            </dict>
            <key>u_yuekabg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,424},{89,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,84}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>u_yuekaframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,224},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>u_yuekapic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,347}}</string>
                <key>sourceSize</key>
                <string>{247,347}</string>
            </dict>
            <key>u_yuekashadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,467},{151,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,41}}</string>
                <key>sourceSize</key>
                <string>{151,41}</string>
            </dict>
            <key>u_yuekatex01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{185,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,62}}</string>
                <key>sourceSize</key>
                <string>{185,62}</string>
            </dict>
            <key>u_yuekatex02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{185,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,63}}</string>
                <key>sourceSize</key>
                <string>{185,63}</string>
            </dict>
            <key>u_yuekatex03.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,412},{153,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,52}}</string>
                <key>sourceSize</key>
                <string>{153,52}</string>
            </dict>
            <key>u_yuekatex04.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,357},{153,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,52}}</string>
                <key>sourceSize</key>
                <string>{153,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yueka.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5d835cf171e3b2178cb2a70eedcc9bb$</string>
            <key>textureFileName</key>
            <string>yueka.png</string>
        </dict>
    </dict>
</plist>
