<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_icoqyzhuanpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,366},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>u_icoslotsa.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,468},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>u_icoslotsb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>u_zpbg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,222},{82,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,165}}</string>
                <key>sourceSize</key>
                <string>{82,165}</string>
            </dict>
            <key>u_zpbg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,131},{140,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,87}}</string>
                <key>sourceSize</key>
                <string>{140,87}</string>
            </dict>
            <key>u_zpbg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{148,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,126}}</string>
                <key>sourceSize</key>
                <string>{148,126}</string>
            </dict>
            <key>u_zpbg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{76,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,217}}</string>
                <key>sourceSize</key>
                <string>{76,217}</string>
            </dict>
            <key>u_zpbg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,367},{82,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,111}}</string>
                <key>sourceSize</key>
                <string>{82,111}</string>
            </dict>
            <key>u_zpbg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>u_zpbg07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,187}}</string>
                <key>sourceSize</key>
                <string>{276,187}</string>
            </dict>
            <key>u_zpbutten01.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,192},{87,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,172}}</string>
                <key>sourceSize</key>
                <string>{87,172}</string>
            </dict>
            <key>u_zpbutten02.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,221},{57,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{57,142}}</string>
                <key>sourceSize</key>
                <string>{87,172}</string>
            </dict>
            <key>u_zpbutten03.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,367},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>u_zpbutten04.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,221},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>u_zpbutten05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>u_zpcorner.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,338},{45,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,23}}</string>
                <key>sourceSize</key>
                <string>{45,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhuanpan.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:218e773d1ae2b65e1abc9026c322d146$</string>
            <key>textureFileName</key>
            <string>zhuanpan.png</string>
        </dict>
    </dict>
</plist>
