<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_MidAutumnbg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,4},{100,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>u_MidAutumnbg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,80},{100,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,49}}</string>
                <key>sourceSize</key>
                <string>{100,49}</string>
            </dict>
            <key>u_MidAutumnbg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,118},{100,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,12}}</string>
                <key>sourceSize</key>
                <string>{100,12}</string>
            </dict>
            <key>u_MidAutumnbg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,4},{142,70}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,70}}</string>
                <key>sourceSize</key>
                <string>{146,74}</string>
            </dict>
            <key>u_MidAutumnbg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{179,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,108}}</string>
                <key>sourceSize</key>
                <string>{179,108}</string>
            </dict>
            <key>u_MidAutumnbg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,106},{87,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,111}}</string>
                <key>sourceSize</key>
                <string>{87,111}</string>
            </dict>
            <key>u_icoqyJDPH.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,136},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_icoqyLVPH.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,223},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_icoqyMAduihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,135},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_icoqyMAqianggou.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,135},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_icoqyMAxiangou.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,196},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>u_icoqyVIPFL.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,106},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zqhdmb.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aaef86b04a386b638d3779947d08e789$</string>
            <key>textureFileName</key>
            <string>zqhdmb.png</string>
        </dict>
    </dict>
</plist>
